@model WrapperModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <partial name="DonorNavPartial" view-data="ViewData"/>
    <div class="container">
        <div>
            <h2>Projects I've contributed to: </h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Project Title</td>
                        <td>Amount</td>
                        <td>Date</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach(Donation each in @Model.MyDonations){
                        <tr>
                            <td>@each.Project.Name</td>
                            <td>$@Math.Round(@each.Amount, 2)</td>
                            <td>@each.CreatedAt.ToString("MMMM dd, yyyy")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>