@model WrapperModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <div>
        <div>
            <h1>Hi @Model.LoggedInUser.FirstName</h1>
            <a href="/AllProjects">View All Projects</a>
            <a href="/logout">Logout</a>
        </div>
        <div>
            <h2>Projects I've contributed to: </h2>
            <table>
                <thead>
                    <tr>
                        <td>Title</td>
                        <td>Amount</td>
                        <td>Date</td>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</body>
</html>