<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>List of All Projects</h1>
    <a href="/">Homepage</a>
    <a href="https://www.donorschoose.org/donors/search.html">reference page</a>
    <a href="/projectinfo">Project Info</a>
</body>
</html>